#serachBox{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#serachinput{
    /* border: 0.5px solid black; */
    border-radius: 30px;
    position: static;
}
@media all and (max-width:600px){
    #serachBox{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}